li {
  list-style: none;
}
.list {
  margin-bottom: 100px;
}
.cd {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.hc {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.bt {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
